# Pandas

## Pandas basics
Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data. The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

Pandas allows us to analyze big data and make conclusions based on statistical theories. Pandas can clean messy data sets, and make them readable and relevant. Relevant data is very important in data science.

Create an alias with the `as` keyword while importing:

In [1]:
# import pandas
import pandas as pd
# import numpy
import numpy as np

Now the Pandas package can be referred to as `pd` instead of `pandas`.

## Series

In [2]:
name = ['Andy', 'Ron', 'James', 'Edy']
myseries1 = pd.Series(name)

In [3]:
print(myseries1)

0     Andy
1      Ron
2    James
3      Edy
dtype: object

In [4]:
age = [21, 35, 54, 33]
myseries2 = pd.Series(age)

In [5]:
print(myseries2)

0    21
1    35
2    54
3    33
dtype: int64

### DataFrame
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Create simple DataFrame

In [7]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

**Locate Row**: As you can see from the result above, the DataFrame is like a table with rows and columns.
Pandas use the `loc` attribute to return one or more specified row(s)

In [8]:
#refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [9]:
#use a list of indexes:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

**Named Indexes**: With the index argument, you can name your own indexes.

In [10]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

**Locate Named Indexes**: 
Use the named index in the loc attribute to return the specified row(s).

In [11]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

**Read CSV Files**: 
A simple way to store big data sets is to use CSV files (comma separated files).
CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In [14]:
import pandas as pd

df = pd.read_csv('data/gdp.csv')

In [16]:
df.head()  # first five rows

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727850e+09,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09
1,Africa Eastern and Southern,AFE,1.847810e+10,1.936631e+10,2.050647e+10,2.224273e+10,2.429433e+10,2.661956e+10,2.873279e+10,3.159296e+10,...,9.863430e+11,1.006990e+12,9.325130e+11,8.900510e+11,1.028390e+12,1.012520e+12,1.006190e+12,9.288800e+11,1.086530e+12,1.185140e+12
2,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,2.014642e+10,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN
3,Africa Western and Central,AFW,1.041165e+10,1.113592e+10,1.195171e+10,1.268581e+10,1.384900e+10,1.487476e+10,1.584558e+10,1.442849e+10,...,8.340970e+11,8.945050e+11,7.692630e+11,6.921150e+11,6.856300e+11,7.681580e+11,8.234060e+11,7.869620e+11,8.449280e+11,8.753940e+11
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.323390e+11,1.359670e+11,9.049642e+10,5.276162e+10,7.369016e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.067830e+11

In [17]:
df.tail() # last five rows

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735329e+09,7.074395e+09,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.412034e+09,9.409474e+09
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.041523e+10,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN
263,South Africa,ZAF,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,1.582139e+10,...,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.052610e+11,3.893300e+11,3.382910e+11,4.201180e+11,4.052710e+11
264,Zambia,ZMB,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.209642e+10,2.916378e+10
265,Zimbabwe,ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.736663e+10

In [18]:
df.sample(6) # random n=6 number of rows

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
233,Thailand,THA,2.760751e+09,3.034038e+09,3.308913e+09,3.540403e+09,3.889130e+09,4.388938e+09,5.279231e+09,5.638461e+09,...,4.203340e+11,4.073390e+11,4.012960e+11,4.133660e+11,4.563570e+11,5.067540e+11,5.439770e+11,5.004570e+11,5.055680e+11,4.954230e+11
211,El Salvador,SLV,NaN,NaN,NaN,NaN,NaN,8.777200e+08,9.295200e+08,9.762000e+08,...,2.199096e+10,2.259347e+10,2.343824e+10,2.419143e+10,2.497919e+10,2.602085e+10,2.688114e+10,2.493008e+10,2.945124e+10,3.248872e+10
251,United States,USA,5.433000e+11,5.633000e+11,6.051000e+11,6.386000e+11,6.858000e+11,7.437000e+11,8.150000e+11,8.617000e+11,...,1.684320e+13,1.755070e+13,1.820600e+13,1.869510e+13,1.947730e+13,2.053310e+13,2.138100e+13,2.106050e+13,2.331510e+13,2.543970e+13
15,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.416056e+10,7.523979e+10,5.307624e+10,3.786700e+10,4.086663e+10,4.711247e+10,4.817424e+10,4.269300e+10,5.482541e+10,7.872106e+10
134,Latin America & Caribbean,LCN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.360880e+12,6.482210e+12,5.420470e+12,5.285690e+12,5.866300e+12,5.742580e+12,5.660900e+12,4.809520e+12,5.553340e+12,6.302490e+12
244,Turkiye,TUR,7.566667e+09,7.988889e+09,8.922222e+09,1.035556e+10,1.117778e+10,1.196667e+10,1.410000e+10,1.564444e+10,...,9.577990e+11,9.389350e+11,8.643140e+11,8.696830e+11,8.589880e+11,7.789720e+11,7.610060e+11,7.203380e+11,8.198650e+11,9.071180e+11

In [19]:
df.shape # sample data's rows and columns (dimensions)

(266, 65)