# Pandas

## Pandas basics
Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data. The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

Pandas allows us to analyze big data and make conclusions based on statistical theories. Pandas can clean messy data sets, and make them readable and relevant. Relevant data is very important in data science.

Create an alias with the `as` keyword while importing:

In [23]:
# import pandas
import pandas as pd
# import numpy
import numpy as np

Now the Pandas package can be referred to as `pd` instead of `pandas`.

## Series

In [2]:
name = ['Andy', 'Ron', 'James', 'Edy']
myseries1 = pd.Series(name)

In [3]:
print(myseries1)

0     Andy
1      Ron
2    James
3      Edy
dtype: object

In [4]:
age = [21, 35, 54, 33]
myseries2 = pd.Series(age)

In [5]:
print(myseries2)

0    21
1    35
2    54
3    33
dtype: int64

## DataFrame
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Create simple DataFrame

In [6]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

**Locate Row**: As you can see from the result above, the DataFrame is like a table with rows and columns.
Pandas use the `loc` attribute to return one or more specified row(s)

In [7]:
#refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [8]:
#use a list of indexes:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

**Named Indexes**: With the index argument, you can name your own indexes.

In [9]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

**Locate Named Indexes**: 
Use the named index in the loc attribute to return the specified row(s).

In [10]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

**Read CSV Files**: 
A simple way to store big data sets is to use CSV files (comma separated files).
CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In [11]:
import pandas as pd

df = pd.read_csv('data/gdp.csv')

In [12]:
df.head()  # first five rows

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727850e+09,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09
1,Africa Eastern and Southern,AFE,1.847810e+10,1.936631e+10,2.050647e+10,2.224273e+10,2.429433e+10,2.661956e+10,2.873279e+10,3.159296e+10,...,9.863430e+11,1.006990e+12,9.325130e+11,8.900510e+11,1.028390e+12,1.012520e+12,1.006190e+12,9.288800e+11,1.086530e+12,1.185140e+12
2,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,2.014642e+10,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN
3,Africa Western and Central,AFW,1.041165e+10,1.113592e+10,1.195171e+10,1.268581e+10,1.384900e+10,1.487476e+10,1.584558e+10,1.442849e+10,...,8.340970e+11,8.945050e+11,7.692630e+11,6.921150e+11,6.856300e+11,7.681580e+11,8.234060e+11,7.869620e+11,8.449280e+11,8.753940e+11
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.323390e+11,1.359670e+11,9.049642e+10,5.276162e+10,7.369016e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.067830e+11

In [13]:
df.tail() # last five rows

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735329e+09,7.074395e+09,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.412034e+09,9.409474e+09
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.041523e+10,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN
263,South Africa,ZAF,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,1.582139e+10,...,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.052610e+11,3.893300e+11,3.382910e+11,4.201180e+11,4.052710e+11
264,Zambia,ZMB,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.209642e+10,2.916378e+10
265,Zimbabwe,ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.736663e+10

In [14]:
df.sample(6) # random n=6 number of rows

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
195,Paraguay,PRY,NaN,NaN,NaN,NaN,NaN,4.435873e+08,4.658889e+08,4.926746e+08,...,3.850112e+10,4.037793e+10,3.621145e+10,3.608970e+10,3.899713e+10,4.022545e+10,3.792534e+10,3.543218e+10,3.995090e+10,4.172230e+10
128,Latin America & Caribbean (excluding high income),LAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.435190e+12,5.456300e+12,4.636640e+12,4.499240e+12,5.012710e+12,4.870480e+12,4.805260e+12,4.051090e+12,4.665360e+12,5.352540e+12
133,St. Lucia,LCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.660222e+09,1.749289e+09,1.807226e+09,1.865459e+09,1.996711e+09,2.057067e+09,2.102534e+09,1.604444e+09,1.961111e+09,2.343704e+09
63,East Asia & Pacific,EAS,1.545310e+11,1.551270e+11,1.583440e+11,1.765920e+11,2.025620e+11,2.254890e+11,2.519740e+11,2.731620e+11,...,2.141130e+13,2.208960e+13,2.199530e+13,2.277580e+13,2.432910e+13,2.648780e+13,2.703270e+13,2.715520e+13,3.114130e+13,3.071250e+13
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727850e+09,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09
248,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.904990e+11,1.335040e+11,9.103097e+10,9.335587e+10,1.120910e+11,1.308910e+11,1.538830e+11,1.566180e+11,1.997660e+11,1.605030e+11

In [15]:
df.shape # sample data's rows and columns (dimensions)

(266, 65)

## Statistics

In [16]:
df.describe() # basic statistics of each column

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,1.260000e+02,1.270000e+02,1.280000e+02,1.280000e+02,1.280000e+02,1.400000e+02,1.430000e+02,1.460000e+02,1.510000e+02,1.510000e+02,...,2.590000e+02,2.600000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.570000e+02,2.550000e+02,2.420000e+02
mean,7.295340e+10,7.486095e+10,7.866325e+10,8.518003e+10,9.404310e+10,9.429472e+10,1.044707e+11,1.087439e+11,1.136922e+11,1.255384e+11,...,2.482324e+12,2.543694e+12,2.404723e+12,2.437760e+12,2.613242e+12,2.776038e+12,2.817910e+12,2.741965e+12,3.169612e+12,3.477949e+12
std,2.186745e+11,2.282798e+11,2.438626e+11,2.628174e+11,2.877302e+11,3.004630e+11,3.282238e+11,3.474791e+11,3.696229e+11,4.066426e+11,...,8.401587e+12,8.612905e+12,8.172392e+12,8.309606e+12,8.845330e+12,9.414854e+12,9.553275e+12,9.325109e+12,1.067562e+13,1.131793e+13
min,1.201202e+07,1.159202e+07,9.122751e+06,1.084010e+07,1.271247e+07,1.359393e+07,1.446908e+07,1.583511e+07,1.460000e+07,1.585000e+07,...,3.861589e+07,3.876098e+07,3.681194e+07,4.162906e+07,4.527660e+07,4.801526e+07,5.412320e+07,5.174659e+07,6.019641e+07,5.906598e+07
25%,5.151683e+08,5.111424e+08,5.185977e+08,5.150864e+08,5.415796e+08,5.199337e+08,5.894217e+08,5.190310e+08,5.605380e+08,5.988611e+08,...,8.486163e+09,9.034786e+09,8.752203e+09,8.620984e+09,9.319389e+09,1.002804e+10,1.035516e+10,9.754600e+09,1.056293e+10,1.379943e+10
50%,2.661058e+09,2.417629e+09,2.319980e+09,2.680117e+09,2.853831e+09,2.913602e+09,3.039859e+09,3.145743e+09,3.330372e+09,3.787077e+09,...,5.094967e+10,5.339986e+10,4.966767e+10,4.984325e+10,5.400009e+10,5.609719e+10,6.009099e+10,5.373453e+10,6.496073e+10,7.506795e+10
75%,2.398013e+10,2.365180e+10,2.289222e+10,2.428285e+10,2.625211e+10,2.509067e+10,2.793416e+10,2.899389e+10,3.209482e+10,3.636104e+10,...,5.390195e+11,5.478560e+11,5.020848e+11,5.057570e+11,5.369245e+11,5.524160e+11,5.419492e+11,5.470540e+11,6.605305e+11,8.991870e+11
max,1.381140e+12,1.446360e+12,1.546370e+12,1.670670e+12,1.832620e+12,1.994520e+12,2.161640e+12,2.308600e+12,2.491800e+12,2.745220e+12,...,7.771470e+13,7.983720e+13,7.528330e+13,7.651900e+13,8.148410e+13,8.654270e+13,8.777740e+13,8.527270e+13,9.715320e+13,1.008800e+14

In [17]:
df.info() # data types used of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Country Code  266 non-null    object
 2   1960          126 non-null    float64
 3   1961          127 non-null    float64
 4   1962          128 non-null    float64
 5   1963          128 non-null    float64
 6   1964          128 non-null    float64
 7   1965          140 non-null    float64
 8   1966          143 non-null    float64
 9   1967          146 non-null    float64
 10  1968          151 non-null    float64
 11  1969          151 non-null    float64
 12  1970          160 non-null    float64
 13  1971          163 non-null    float64
 14  1972          163 non-null    float64
 15  1973          163 non-null    float64
 16  1974          164 non-null    float64
 17  1975          166 non-null    float64
 18  1976          167 non-null    float64
 19  1977          170 non-null    float64
 20  1978          169 non-null    float64
 21  1979          170 non-null    float64
 22  1980          183 non-null    float64
 23  1981          187 non-null    float64
 24  1982          189 non-null    float64
 25  1983          191 non-null    float64
 26  1984          193 non-null    float64
 27  1985          195 non-null    float64
 28  1986          197 non-null    float64
 29  1987          201 non-null    float64
 30  1988          207 non-null    float64
 31  1989          211 non-null    float64
 32  1990          226 non-null    float64
 33  1991          225 non-null    float64
 34  1992          228 non-null    float64
 35  1993          230 non-null    float64
 36  1994          232 non-null    float64
 37  1995          241 non-null    float64
 38  1996          241 non-null    float64
 39  1997          241 non-null    float64
 40  1998          242 non-null    float64
 41  1999          243 non-null    float64
 42  2000          247 non-null    float64
 43  2001          249 non-null    float64
 44  2002          254 non-null    float64
 45  2003          254 non-null    float64
 46  2004          254 non-null    float64
 47  2005          254 non-null    float64
 48  2006          255 non-null    float64
 49  2007          255 non-null    float64
 50  2008          256 non-null    float64
 51  2009          256 non-null    float64
 52  2010          257 non-null    float64
 53  2011          260 non-null    float64
 54  2012          258 non-null    float64
 55  2013          259 non-null    float64
 56  2014          260 non-null    float64
 57  2015          258 non-null    float64
 58  2016          258 non-null    float64
 59  2017          258 non-null    float64
 60  2018          258 non-null    float64
 61  2019          258 non-null    float64
 62  2020          257 non-null    float64
 63  2021          255 non-null    float64
 64  2022          242 non-null    float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [18]:
# df.corr() #correlation matrix between all the integer columns

### Data Selection

In [19]:
df.iloc[251]  #select a particular 'row_num'

Country Name       United States
Country Code                 USA
1960              543300000000.0
1961              563300000000.0
1962              605100000000.0
                      ...
2018            20533100000000.0
2019            21381000000000.0
2020            21060500000000.0
2021            23315100000000.0
2022            25439700000000.0
Name: 251, Length: 65, dtype: object

In [20]:
df["2022"] #select the particular 'col_name'

0      3.544708e+09
1      1.185140e+12
2               NaN
3      8.753940e+11
4      1.067830e+11
           ...
261    9.409474e+09
262             NaN
263    4.052710e+11
264    2.916378e+10
265    2.736663e+10
Name: 2022, Length: 266, dtype: float64

In [21]:
df[["2000", "2022"]] #select multiple columns

             2000          2022
0    1.873453e+09  3.544708e+09
1    2.854040e+11  1.185140e+12
2             NaN           NaN
3    1.401330e+11  8.753940e+11
4    9.129595e+09  1.067830e+11
..            ...           ...
261           NaN  9.409474e+09
262  9.679317e+09           NaN
263  1.517530e+11  4.052710e+11
264  3.600632e+09  2.916378e+10
265  6.689958e+09  2.736663e+10

[266 rows x 2 columns]

## Data Cleaning

These functions are used to handle the missing data. Some rows in the data contain some null and garbage values, which can hamper the performance of our trained model. So, it is always better to correct or remove these missing values.

- df.isnull(): This will identify the missing values in your dataframe.
- df.dropna(): This will remove the rows containing missing values in any column.
- df.fillna(val): This will fill the missing values with val given in the argument.
- df[col].astype(new_data_type): It can convert the data type of the selected columns to a different data type.

In [22]:
df.fillna("-") # This will fill the missing values with val given in the argument

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,-,-,-,-,-,-,-,-,...,2727849721.0,2790849721.0,2962907263.0,2983635196.0,3092429050.0,3276184358.0,3395798883.0,2558906304.0,3103184102.0,3544707788.0
1,Africa Eastern and Southern,AFE,18478095142.0,19366314294.0,20506467178.0,22242734491.0,24294329780.0,26619560807.0,28732792825.0,31592963095.0,...,986343000000.0,1006990000000.0,932513000000.0,890051000000.0,1028390000000.0,1012520000000.0,1006190000000.0,928880000000.0,1086530000000.0,1185140000000.0
2,Afghanistan,AFG,537777811.1,548888895.6,546666677.8,751111191.1,800000044.4,1006666638.0,1399999967.0,1673333418.0,...,20146416876.0,20497128600.0,19134221745.0,18116572399.0,18753456507.0,18053222735.0,18799444415.0,19955929061.0,14266499430.0,-
3,Africa Western and Central,AFW,10411646287.0,11135924728.0,11951712282.0,12685805890.0,13848998669.0,14874755834.0,15845575303.0,14428492962.0,...,834097000000.0,894505000000.0,769263000000.0,692115000000.0,685630000000.0,768158000000.0,823406000000.0,786962000000.0,844928000000.0,875394000000.0
4,Angola,AGO,-,-,-,-,-,-,-,-,...,132339000000.0,135967000000.0,90496420626.0,52761617226.0,73690155047.0,79450688232.0,70897962713.0,48501561230.0,66505129989.0,106783000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,-,-,-,-,-,-,-,-,...,6735328610.0,7074394735.0,6295848423.0,6682677290.0,7180764703.0,7878759715.0,7899737577.0,7717145218.0,9412034299.0,9409473518.0
262,"Yemen, Rep.",YEM,-,-,-,-,-,-,-,-,...,40415233436.0,43228585321.0,42444489461.0,31317824906.0,26842228805.0,21606160777.0,-,-,-,-
263,South Africa,ZAF,8748596501.0,9225996310.0,9813996074.0,10854195658.0,11955995218.0,13068994772.0,14211394315.0,15821393671.0,...,400886000000.0,381199000000.0,346710000000.0,323586000000.0,381449000000.0,405261000000.0,389330000000.0,338291000000.0,420118000000.0,405271000000.0
264,Zambia,ZMB,713000000.0,696285714.3,693142857.1,718714285.7,839428571.4,1082857143.0,1264285714.0,1368000000.0,...,28037239463.0,27141023558.0,21251216799.0,20958412538.0,25873601261.0,26311507274.0,23308667781.0,18110638269.0,22096416934.0,29163782138.0
265,Zimbabwe,ZWE,1052990400.0,1096646600.0,1117601600.0,1159511700.0,1217138000.0,1311435800.0,1281749500.0,1397002000.0,...,19091020000.0,19495519600.0,19963120600.0,20548678100.0,17584890937.0,34156069918.0,21832234921.0,21509698407.0,28371238666.0,27366627153.0

## Data Analysis

Here, we will use some helpful functions in data analysis, like grouping, sorting, and filtering.

**Aggregation Functions:**
You can group a column by its name and then apply some aggregation functions like sum, min/max, mean, etc.

df.groupby("col_name_1").agg({"col_name_2": "sum"})